body {
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Gentium Book Plus', serif;
    font-family: 'Prompt', sans-serif;
    font-family: 'Roboto Slab', serif;
}
.top-secton {
    background-image: url(images/donation9.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 5%;
    padding-top: 15%;
}
.top-secton h1 {
    width: 90%;
    text-align: center;
    font-size:50px;
    font-family: 'Roboto Slab', serif;
    color: white;
    margin-left: 5%;
    margin-right: 10%;


}
.text-color {
    color: crimson;
    font-family:'Roboto Slab', serif;
    color: white;

}
.top-paragrap {
    text-align: center;
    color: white;
    margin-top: 0;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0;
}
.donate-button {
    color: black;
    background-image: linear-gradient(orange,tomato);
    text-decoration: none;
    margin: 40%;
    border: 20px 40px;
    border-radius: 5px;
    padding: 1%;
    
}
.section-02 {
    text-align: center;
    margin-top: 60px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 0;
}
.section-02 h1 {
    font-size: 40px;
}
.section-03 {
    display: flex;

}
.section-03 h1 {
    width: 20%;
}